[submodule "frontend"]
	path = frontend
	url = https://github.com/pedronunes21/devweb-trabalho3-frontend
[submodule "backend"]
	path = backend
	url = https://github.com/pedronunes21/devweb-trabalho3-backend
